body {
    background-color: #141414;
    color: white;
}

#contents {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    margin-bottom: 150px;
}

.register-form {
    display: flex;
    width: 1000px;
    margin: auto;
}

.register-form #contents {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 600px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    margin-top: 30px;
}

#contents h2,
.genres-checklist h2 {
    color: rgb(194, 39, 39);
    text-align: center;
    font-size: 25px;
}

#contents label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

#contents input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#contents input:focus {
    outline: none;
    border-color: rgb(194, 39, 39);
}

#enter {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom:20px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#enter:hover {
    background-color: #f40612;
}

.genres-checklist {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: 600px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    margin-top: 30px;
}

.genres-checklist p {
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.genre-name {
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.genres-checklist input[type="checkbox"] {
    transform: scale(1.5);
}

.genres-checklist label.genre-name {
    font-size: 20px;
    /* Optional: increase label font size for better readability */
}